@import "tailwindcss";

@theme {
  --color-primary: #7d726a;
  --color-secondary: #d6cfc3;
  --color-third: #e8e5de;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 0rem;
}

.text {
  font-family: "Merriweather", sans-serif;
  font-optical-sizing: auto;
}

.banner {
  background: linear-gradient(180deg, #a0f2, #a0f4, #a0f4, #a0f2);
  filter: blur(100px);
}

.btn-gradient {
  background: linear-gradient(to bottom right, #64748b, #1e293b);
  background-size: 200%;
  transition: all 0.3s ease-in-out;
}

.btn-gradient:hover {
  background-position: right bottom;
}

.animation-delay-300 {
  animation-delay: 500;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

.background-home-1 {
  background-image: url("/pos_1.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-home-2 {
  background-image: url("/pos_2.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.background-home-3 {
  background-image: url("/pos_3.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-home-desktop {
  background-position: top center;
}

.bg-home-mobile {
  background-position: center center;
}
